# Ignore packer_compiled.lua
nvim/plugin

# Ignore scoop "version" file
scoop/config.json

# Ignore lazy-lock.json (package manager)
nvim/lazy-lock.json

# Ignore lazygit state.yml
lazygit/state.yml

# Ignore yarn
yarn/